<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Error Page</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>

    <!-- Particle.js-->
    <script src="js/particles.min.js"></script>

    <!-- reCaptcha -->
    {{!-- <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script> --}}

</head>

<body>

    {{!-- <div id="preloader"></div> --}}

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div class="content">
                <div class="inner">
                    {{!-- <img src="images/CCS_White.png" class="img-responsive logo2" alt="CCS" /> --}}
                    <p>Looks like you're trying something fishy!</p>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Go To Homepage</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
</body>

</html>