<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Admin: Add Questions</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" /></noscript>

    <!-- Particle.js-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script>

</head>

<body>

    <div id="preloader"></div>

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div class="content">
                {{#each errors}}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{this.text}}</p>
                </div>
                {{/each}}
                <div class="inner">
                    <h1>Ready To Give Them A Challenge?</h1>
                    <div class="fields">
                        <form class="add-form" role="form">
                            <p style="color: red">{{msg2}}</p>
                            <div class="field">
                                <label style="text-align: left;margin-top: 2vh;">Choose a domain</label>
                                <select class="selectpick" id="first-choice" on>
                                    <option value="base" selected disabled hidden>Click To Choose</option>
                                    <option value="Technical" name="technical">Technical Domain</option>
                                    <option value="Management" name="management">Management Domain</option>
                                    <option value="Design" name="design">Design Domain</option>
                                </select>
                            </div>
                            <div class="field">
                                <label style="text-align: left;margin-top: 2vh;">Choose your technical domain</label>
                                <select class="selectpick2" id="second-choice">
                                    <option value="" selected disabled hidden>Click To Choose</option>
                                    <option value="Backend Web Development">Backend Web Development</option>
                                    <option value="Frontend Web Development">Frontend Web Development</option>
                                    <option value="App Development">App Development</option>
                                    <option value="Competitive Coding">Competitive Coding</option>
                                    <option value="Machine Learning">Machine Learning &
                                        Artificial
                                        Intelligence</option>
                                </select>
                            </div>
                            <div class="field">
                                <label style="text-align: left;margin-top: 2vh;">Choose your management
                                    domain</label>
                                <select class="selectpick2" id="third-choice">
                                    <option value="" selected disabled hidden>Click To Choose</option>
                                    <option value="Operations">Operations Domain</option>
                                    <option value="Sponsorship">Sponsorship Domain</option>
                                    <option value="Content Writing">Content Writing Domain</option>
                                </select>
                            </div>
                            <div class="field">
                                <label style="text-align: left;margin-top: 2vh;">Choose your design domain</label>
                                <select class="selectpick2" id="third-choice">
                                    <option value="" selected disabled hidden>Click To Choose</option>
                                    <option value="Design">Main Design Domain</option>
                                </select>
                            </div>
                            <div class="field">
                                <label for="exampleFormControlTextarea1" style="text-align: left;margin-top: 2vh;">Enter
                                    your question
                                    here:</label>
                                <textarea class="ques" id="exampleFormControlTextarea1" rows="10"></textarea>
                            </div>
                            <button type="button" style="margin-top:2vh;" class="btn primary btnSubmit">Add
                                Question</button>
                        </form>

                        <a href="/Akshat_Is_Awesome">
                            <button class="primary">Go Back
                            </button>
                        </a>
                        <a href="/adminlogout">
                            <button class="primary">Logout
                            </button>
                        </a>

        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    </header>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/addQues.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

</body>

</html>