<!DOCTYPE html>
<html>

<head>
	<!-- Title -->
	<title>CodeChef- VIT Recruitments</title>

	<!-- Meta Tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- Linking CSS -->
	<link rel="stylesheet" href="css/main.css" />
	<link rel="icon" type="image/gif" href="images/favicon.jpg" />

	<!-- No Script -->
	<noscript>
		<link rel="stylesheet" href="css/noscript.css" />
	</noscript>

	<!-- Particle.js-->
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

	<!-- reCaptcha -->
	<script type="text/javascript"
		src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script>

</head>

<body>

	<div id="preloader"></div>

	<div id="particles-js"></div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
			<div class="content">
				<div class="inner">
					<img src="images/CCS_White.png" class="img-responsive logo2" alt="CCS" />
					<p>Welcome to the official recruitment portal for CodeChef- VIT.</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#instructions">Instructions</a></li>
					<li><a href="#login">Sign In</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

			<nav>
				<ul>
					<li><a href="#sign-up">Register Here</a></li>
				</ul>
			</nav>

		</header>

		<!-- Main -->
		<div id="main">

			<!-- About -->
			<article id="about">
				<h2 class="major">About Us</h2>
				<p class="about-txt">CodeChef is a not-for-profit educational initiative by Directi,
					an Indian software company. It is a
					global programming community that fosters learning and friendly competition, built on top of the
					world’s largest competitive programming platform. We have also built a large community of problem
					curators.</p>
				<p class="about-txt">In Vellore Institute of Technology, CodeChef-VIT is a technical
					chapter that helps students all over
					the
					campus to improve their coding skills. The core committee members of the chapters are divided into
					four areas of expertise- Technical, Projects, Management and Design. The main objective is to
					provide the students a platform where they can learn, share and test their knowledge. CodeChef- VIT
					keeps conducting several workshops and events in order to help the students do the same.</p>
				<img src="images/CC_black.png" alt="CodeChef- VIT" class="image main fit right" />
			</article>

			<!-- Instructions -->
			<article id="instructions">
				<h2 class="major">Instructions</h2>
				<p class="about-txt">
					1) You can attempt a test only once.
				</p>
				<p class="about-txt">
					2) Don't leave the page during the test or your attempt will be wasted.
				</p>
				<p class="about-txt">
					3) You are allowed to attempt questions from all domains.
				</p>
				<p class="about-txt">
					4) You can attempt only a maximum of two technical domain tests.
				</p>
				<p class="about-txt">
					5) This test is only for the technical and management domains. Design domain members will be
					notified soon.
				</p>
				<p class="about-txt">
					6) Your answers will be autosaved if you do not submit them on time.
				</p>
				<p class="about-txt">
					7) In multiple choice questions, type the whole option into the text box.
				</p>
				<img src="images/CC_black.png" alt="CodeChef- VIT" class="image main fit right" />
			</article>

			<!-- Sign Up Page -->
			<article id="sign-up">
				<h2 class="major">Sign Up</h2>
				<form action="/userSignup" method="POST" role="form">
					{{#each errors1}}
					<div class="alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<p style="color: red;" class="clear">{{this.text}}</p>
					</div>
					{{/each}}
					<div class="fields mainpg">
						<div class="field half">
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" id="first_name" required onkeyup="checkFirst()" />
						</div>
						<div class="field half">
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" id="last_name" required onkeyup="checkLast()" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" required onkeyup="checkEmail()" />
						</div>
						<div class="field half">
							<label for="regno">Registration Number</label>
							<input type="text" name="regno" id="regno" onkeyup="this.value=this.value.toUpperCase();"
								required onkeyup="checkRegNo()" />
						</div>
						<div class="field half">
							<label for="phoneno">Phone Number</label>
							<input type="tel" name="phoneno" id="phoneno" required onkeyup="checkPhone()" />
						</div>
						<div class="field half">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" required />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Sign Up" class="primary" /></li>
						<li><input type="reset" value="Clear" class="primary" /></li>
					</ul>
				</form>
				<img src="images/CC_black.png" alt="CodeChef- VIT" class="image main fit right" />
			</article>

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contact Us</h2>
				{{#if msgsent}}
				<div class="alert alert-success">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<p>{{msgsent}}</p>
				</div>
				{{/if}}
				<form action="/contact" method="post" role="form">
					<div class="fields mainpg">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" required />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" required />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4" required></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Clear" class="primary" /></li>
					</ul>
				</form>
				<ul class="icons">
					<li><a href="https://www.facebook.com/codechefvit" class="icon brands fa-facebook-f"><span
								class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/codechefvit" class="icon brands fa-instagram"><span
								class="label">Instagram</span></a></li>
					<li><a href="https://github.com/CodeChefVIT" class="icon brands fa-github"><span
								class="label">GitHub</span></a></li>
					<li><a href="https://www.linkedin.com/company/codechef-vit-chapter/about"
							class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<img src="images/CC_black.png" alt="CodeChef- VIT" class="image main fit right" />
			</article>

			<!-- Login Page -->
			<article id="login">
				<h2 class="major">Sign In</h2>
				<form id="formSubmit" action="/userLogin" method="POST">
					{{#each errors2}}
					<div class="alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<p style="color: red;" class="clear">{{this.text}}</p>
					</div>
					{{/each}}
					{{#each success}}
					<div class="alert alert-success">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<p style="color: rgb(5, 97, 5);"class="clear">{{this.text}}</p>
					</div>
					{{/each}}
					<div class="fields mainpg">

						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="lemail" required onkeyup="checkEmail()" />
						</div>
						<div class="field half">
							<label for="password">Password</label>
							<input type="password" name="password" id="lpassword" required />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Sign In" class="primary btnLogin" /></li>
						<li><input type="reset" value="Clear" class="primary" /></li>
					</ul>
				</form>
				<img src="images/CC_black.png" alt="CodeChef- VIT" class="image main fit right" />
			</article>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
	<script>

		document.getElementById('formSubmit').addEventListener('submit', (e) => {
			e.preventDefault()
			grecaptcha.ready(() => {
				grecaptcha.execute('6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb', {
					action: '/'
				}).then((token) => {

					var emailsend = document.querySelector('#lemail')
					var passend = document.querySelector('#lpassword')

					var data = {
						email: emailsend.value,
						password: passend.value,
						recaptcha: token
					}
					console.log(data)
					if (emailsend.value == 'admin' && passend.value == 'admin') {
						window.location.href = '/admin'

					}
					else {
						$.ajax({
							url: '/userLogin',
							type: "POST",
							data: {
								display: JSON.stringify(data)
							},
							success: function (data) {
								console.log('success')
								window.location.href = '/verify'

							},
							error: function (err) {
								console.log('error')
							}

						})
					}

				})

			})
		})

	</script>
	<script>
		setTimeout(function() {
		$(".clear").fadeOut().empty();
		}, 5000);
	</script>

	<script>
		let email = document.getElementById("email");
		let phoneno = document.getElementById("phoneno");
		let regno = document.getElementById("regno");
		let first_name = document.getElementById("first_name");
		let last_name = document.getElementById("last_name");

		function checkEmail() {
			let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			if (re.test(email.value.trim())) {
				status.push("true")
			}
			else {
				email.value = "";
				email.style.borderColor = "red";
				email.placeholder = "Please enter valid email id"
				status.push("false")
			}
		}

		function checkFirst() {
			if (first_name.value.trim().length == 0) {
				first_name.value = "";
				first_name.style.borderColor = "red";
				first_name.placeholder = "Please enter valid first name"
				status.push("false")
			}
			else {
				status.push("true")
			}
		}

		function checkLast() {
			if (last_name.value.trim().length == 0) {
				last_name.value = "";
				last_name.style.borderColor = "red";
				last_name.placeholder = "Please enter valid last name"
				status.push("false")
			}
			else {
				status.push("true")
			}
		}

		function checkRegNo() {
			if (regno.value.trim().length == 9) {
				var check = /^1[89][BM][A-Z]{2}[0-9]{4}$/
				if (rno.match(check)) {
					status.push("true")
				}
				else {
					regno.value = "";
					regno.style.borderColor = "red";
					regno.placeholder = "Please enter valid registration number"
					status.push("false")
				}
				else {
					regno.value = "";
					regno.style.borderColor = "red";
					regno.placeholder = "Please enter valid registration number"
					status.push("false")
				}
			}
		}

		function checkPhone() {
			if (phoneno.value.trim().length < 8 || phoneno.value.trim().length > 12) {
				phoneno.value = "";
				phoneno.style.borderColor = "Red";
				phoneno.placeholder = "Please enter valid phone number";
				status.push("false")
			}
			else {
				status.push("true")
			}
		}

	</script>
</body>

</html>