<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>List of Clubs & Chapters</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="vit vellore university recruitment club chapters technical design management list" name="keywords">
    <meta content="List of clubs and chapters in VIT." name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">

    <!-- Slider Theme -->
    <link href="css/nivo-slider-theme.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#navbar-example"
    style="background: linear-gradient(to right, #3932AF, #1986DD, #00C5FE);">

    <div id="preloader"></div>

    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="/index">
                                    <h1><span>Common Entry Test</span></h1>
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1"
                                id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="/index">Home</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="/index#about">About</a>
                                    </li>
                                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown">Services<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/list" target="_blank">List of Clubs and
                                                    Chapters</a></li>
                                            <li><a href="/exam">Give A Test</a></li>
                                            <li><a href="/calender">See Upcoming Deadlines</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="/index#contact">Contact</a>
                                    </li>
                                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown">{{msg}}<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/logout">Log Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->

    <div id="choice" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center" style="margin-bottom: 0;margin-top: 10px;">
                        <h2>List of Clubs & Chapters in VIT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table" style="box-shadow: 0px 1px 5px black;border-radius: 7px;background-color: whitesmoke;">
            <thead>
                <tr class="row-1 odd">
                    <th class="column-1">Club/Chapter Name</th>
                    <th class="column-3">Website</th>
                </tr>
            </thead>
            <tbody class="row-hover">
                <tr class="row-2 even">
                    <td class="column-1">5th Pillar VIT Student Chapter</td>
                    <td class="column-3"><a href="http://fifthpillarvit.esy.es/">Website Link</a></td>
                </tr>
                <tr class="row-3 odd">
                    <td class="column-1">AIChE VIT Student Chapter</td>
                    <td class="column-3"><a href="http://aichevit.wixsite.com/aichevit">Website Link</a></td>
                </tr>
                <tr class="row-4 even">
                    <td class="column-1">AIESEC VIT</td>
                    <td class="column-3"><a href="www.myaiesec.in">Website Link</a></td>
                </tr>
                <tr class="row-5 odd">
                    <td class="column-1">American Society of Civil Engineers (ASCE)</td>
                    <td class="column-3"><a href="http://www.asce.org/">Website Link</a></td>
                </tr>
                <tr class="row-6 even">
                    <td class="column-1">Anokha</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-7 odd">
                    <td class="column-1">Apple Developers Group</td>
                    <td class="column-3"><a href="www.adgvit.com">Website Link</a></td>
                </tr>
                <tr class="row-8 even">
                    <td class="column-1">Association of Energy Engineers</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-9 odd">
                    <td class="column-1">Ayuda NGO</td>
                    <td class="column-3"><a href="http://ayudango.org/">Website Link</a></td>
                </tr>
                <tr class="row-10 even">
                    <td class="column-1">Becoming I Foundation (BIF)</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-11 odd">
                    <td class="column-1">Bulls and Bears - the finance club</td>
                    <td class="column-3"><a href="http://bnbvit.tech">Website Link</a></td>
                </tr>
                <tr class="row-12 even">
                    <td class="column-1">CSED</td>
                    <td class="column-3"><a href=" csedvit.com">Website Link</a></td>
                </tr>
                <tr class="row-13 odd">
                    <td class="column-1">Computer Society of India VIT</td>
                    <td class="column-3"><a href="https://csivit.com/">Website Link</a></td>
                </tr>
                <tr class="row-14 even">
                    <td class="column-1">CodeChef-VIT</td>
                    <td class="column-3"><a href="https://www.codechef.com">Website Link</a></td>
                </tr>
                <tr class="row-15 odd">
                    <td class="column-1">Creativity Club</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-16 even">
                    <td class="column-1">Culinary CLUB VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-17 odd">
                    <td class="column-1">Debate Society VIT</td>
                    <td class="column-3"><a href="www.vitdt.com">Website Link</a></td>
                </tr>
                <tr class="row-18 even">
                    <td class="column-1">Entrepreneurship Cell - VIT</td>
                    <td class="column-3"><a href="http://www.ecellvit.in/">Website Link</a></td>
                </tr>
                <tr class="row-19 odd">
                    <td class="column-1">FEPSI</td>
                    <td class="column-3"><a href="http://www.fepsiindia.in/">Website Link</a></td>
                </tr>
                <tr class="row-20 even">
                    <td class="column-1">Developer Student Club (DSC VIT)</td>
                    <td class="column-3"><a href="http://www.dscvitvellore.com/">Website Link</a></td>
                </tr>
                <tr class="row-21 odd">
                    <td class="column-1">Helphen India</td>
                    <td class="column-3"><a href="www.helphenIndia.co.in">Website Link</a></td>
                </tr>
                <tr class="row-22 even">
                    <td class="column-1">Health Club (VIT)</td>
                    <td class="column-3"><a href="http://www.healthclub.tk/">Website Link</a></td>
                </tr>
                <tr class="row-23 odd">
                    <td class="column-1">Hindi Literary Association</td>
                    <td class="column-3"><a href="http://www.hlavitu.com/">Website Link</a></td>
                </tr>
                <tr class="row-24 even">
                    <td class="column-1">IEEE-Professional Communication Society</td>
                    <td class="column-3"><a href="www.facebook.com/PCSVIT">Website Link</a></td>
                </tr>
                <tr class="row-25 odd">
                    <td class="column-1">IEEE-IAS</td>
                    <td class="column-3"><a href=" http://ias.ieee.org">Website Link</a></td>
                </tr>
                <tr class="row-26 even">
                    <td class="column-1">IEEE Computer Society-VIT</td>
                    <td class="column-3"><a href="http://www.ieeecsvit.com/">Website Link</a></td>
                </tr>
                <tr class="row-27 odd">
                    <td class="column-1">IEEE VIT Chapter</td>
                    <td class="column-3"><a href="http://www.ieeevit.com/">Website Link</a></td>
                </tr>
                <tr class="row-28 even">
                    <td class="column-1">IET On Campus, VIT</td>
                    <td class="column-3"><a href="http://ietvit.com">Website Link</a></td>
                </tr>
                <tr class="row-29 odd">
                    <td class="column-1">IEEE-Women In Engineering</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-30 even">
                    <td class="column-1">IETE-ISF</td>
                    <td class="column-3"><a href="http://www.iete.org">Website Link</a></td>
                </tr>
                <tr class="row-31 odd">
                    <td class="column-1">Indian Society for Technical Education (ISTE VIT)</td>
                    <td class="column-3"><a href="https://istevitu.in">Website Link</a></td>
                </tr>
                <tr class="row-32 even">
                    <td class="column-1">Innovatorsquest</td>
                    <td class="column-3"><a href="http://iquestvit.com/">Website Link</a></td>
                </tr>
                <tr class="row-33 odd">
                    <td class="column-1">International Society of Automation</td>
                    <td class="column-3"><a href="ccsisavit.rf.gd">Website Link</a></td>
                </tr>
                <tr class="row-34 even">
                    <td class="column-1">ISOI VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-35 odd">
                    <td class="column-1">Juvenile Care</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-36 even">
                    <td class="column-1">Kannada Literary Association KLA</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-37 odd">
                    <td class="column-1">Make a Difference (MAD)</td>
                    <td class="column-3"><a href="www.makeadiff.in">Website Link</a></td>
                </tr>
                <tr class="row-38 even">
                    <td class="column-1">KI Racing</td>
                    <td class="column-3"><a href="www.teamkiracing.com">Website Link</a></td>
                </tr>
                <tr class="row-39 odd">
                    <td class="column-1">VIT LEO CLUB</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-40 even">
                    <td class="column-1">Microsoft Student Technical Community</td>
                    <td class="column-3"><a href="http://www.mstcvit.com">Website Link</a></td>
                </tr>
                <tr class="row-41 odd">
                    <td class="column-1">Model United Nations Society</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-42 even">
                    <td class="column-1">MUSIC CLUB -VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class=" row-43 odd">
                    <td class="column-1">Team Ojas</td>
                    <td class="column-3"><a href="www.teamojas.com">Website Link</a></td>
                </tr>
                <tr class=" row-44 even">
                    <td class="column-1">Pravega Racing</td>
                    <td class="column-3"><a href="http://www.pravegaracing.com/">Website Link</a></td>
                </tr>
                <tr class=" row-45 odd">
                    <td class="column-1">roboVITics</td>
                    <td class="column-3"><a href="http://www.robovitics.com/">Website Link</a></td>
                </tr>
                <tr class=" row-46 even">
                    <td class="column-1">Rotaract at VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-47 odd">
                    <td class="column-1">Society for Industrial and Applied Mathematics (SIAM VIT)</td>
                    <td class="column-3"><a href="http://www.siamvit.com">Website Link</a></td>
                </tr>
                <tr class="row-48 even">
                    <td class="column-1">Sahiti Telugu Literary Association</td>
                    <td class="column-3"><a href="http://sahititla.com/">Website Link</a></td>
                </tr>
                <tr class="row-49 odd">
                    <td class="column-1">Tamil Literary Association</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-50 even">
                    <td class="column-1">TAG Club</td>
                    <td class="column-3"><a href="http://tagclub.in/">Website Link</a></td>
                </tr>
                <tr class="row-51 odd">
                    <td class="column-1">Team Albatross</td>
                    <td class="column-3"><a href="http://www.teamalbatross.in/">Website Link</a></td>
                </tr>
                <tr class="row-52 even">
                    <td class="column-1">Team Kshatriya</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-53 odd">
                    <td class="column-1">Team Eklavya</td>
                    <td class="column-3"><a href="http://www.teameklavya.com/">Website Link</a></td>
                </tr>
                <tr class="row-54 even">
                    <td class="column-1">Team Uttejit</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-55 odd">
                    <td class="column-1">Team Jaabaz</td>
                    <td class="column-3"><a href="http://www.teamjaabaz.com/">Website Link</a></td>
                </tr>
                <tr class="row-56 even">
                    <td class="column-1">TEDxVITVellore</td>
                    <td class="column-3"><a href="http://www.tedxvitvellore.com/">Website Link</a></td>
                </tr>
                <tr class="row-57 odd">
                    <td class="column-1">The Electronics Club of VIT</td>
                    <td class="column-3"><a href="http://tecvit.co.in">Website Link</a></td>
                </tr>
                <tr class="row-58 even">
                    <td class="column-1">The Fine Arts Club</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-59 odd">
                    <td class="column-1">The Hindu Education Plus Club-VIT</td>
                    <td class="column-3"><a href="http://www.thepcvit.com/">Website Link</a></td>
                </tr>
                <tr class="row-60 even">
                    <td class="column-1">The Photography Club</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-61 odd">
                    <td class="column-1">Toastmasters International</td>
                    <td class="column-3"><a href="http://www.toastmastersvit.com/">Website Link</a></td>
                </tr>
                <tr class="row-62 even">
                    <td class="column-1">Uddeshya VIT Vellore</td>
                    <td class="column-3"><a href="http://www.uddeshyaindia.org">Website Link</a></td>
                </tr>
                <tr class="row-63 odd">
                    <td class="column-1">Venturesity VIT</td>
                    <td class="column-3"><a href="www.venturesity.com">Website Link</a></td>
                </tr>
                <tr class="row-64 even">
                    <td class="column-1">VIT Community Radio 90.8 fm</td>
                    <td class="column-3"><a href="http://www.vit.ac.in/about/communityradio">Website Link</a></td>
                </tr>
                <tr class="row-65 odd">
                    <td class="column-1">VinnovateIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-66 even">
                    <td class="column-1">Visual Bloggers Club</td>
                    <td class="column-3"><a href="https://www.vbcvit.com/">Website Link</a></td>
                </tr>
                <tr class="row-67 odd">
                    <td class="column-1">Animation Club VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-68 even">
                    <td class="column-1">Dance Club VIT</td>
                    <td class="column-3"><a href="http://www.vitdanceclub.com/">Website Link</a></td>
                </tr>
                <tr class="row-69 odd">
                    <td class="column-1">Dramatics Club VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-70 even">
                    <td class="column-1">English Literary Association VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-71 odd">
                    <td class="column-1">VIT FILM Society</td>
                    <td class="column-3"><a href="https://vfsfilmisthan.wordpress.com/">Website Link</a></td>
                </tr>
                <tr class="row-72 even">
                    <td class="column-1">Spartans VIT</td>
                    <td class="column-3"><a href="">Website Link</a></td>
                </tr>
                <tr class="row-73 odd">
                    <td class="column-1">Trekking Club VIT</td>
                    <td class="column-3"><a href="http://www.vittrekkingclub.co.in/">Website Link</a></td>
                </tr>
                <tr class="row-74 even">
                    <td class="column-1">Youth Red Cross VIT</td>
                    <td class="column-3"><a href="http://yrcvit.com/">Website Link</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/venobox/venobox.min.js"></script>
    <script src="lib/knob/jquery.knob.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/parallax/parallax.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="lib/appear/jquery.appear.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <script src="js/main.js"></script>

</body>

</html>