<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>CodeChef- VIT Recruitments</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" /></noscript>

    <!-- Particle.js-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!-- reCaptcha -->
    {{!-- <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script> --}}

</head>

<body>

    <div id="preloader"></div>

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div class="content">
                <div class="inner">
                    <h1>Choose Your Managerial Area Of Expertise</h1>
                    <div class="fields">
                        <div class="field spacing-test">
                            <a href="/opexam">
                                <img src="images/operation.png" class="img-responsive" style="width:50px;height:50px;">
                                <strong>
                                    <h3>Operations
                                </strong>
                                </h3>
                                <p>
                                    Think your convincing skills are upto the mark?
                                </p>
                            </a>
                        </div>
                        <div class="field spacing-test">
                            <a href="/sponsexam">
                                <img src="images/money.png" class="img-responsive" style="width:50px;height:50px;">
                                <strong>
                                    <h3>Sponsorship
                                </strong>
                                </h3>
                                <p>
                                    No event is possible without a strong sponsorship team. Up for it?
                                </p>
                            </a>
                        </div>
                        <div class="field spacing-test">
                            <a href="/cwexam">
                                <img src="images/content.png" class="img-responsive" style="width:50px;height:50px;">
                                <strong>
                                    <h3>Content Writing
                                </strong>
                                </h3>
                                <p>
                                    Can you amaze people with words?
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a href='/exam'>
                <button class="primary">
                    Go Back
                </button>
            </a>
            <a href="/logout">
                <button class="primary">Logout
                </button>
            </a>

        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

</body>

</html>