<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Admin Panel</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>

    <!-- Particle.js-->
    <script src="js/particles.min.js"></script>

    <!-- reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script>

</head>

<body>

    <div id="preloader"></div>

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div class="content">
                {{#each errors}}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{this.text}}</p>
                </div>
                {{/each}}
                <div class="inner">
                    <h1>What Would You Like To Do?</h1>
                    <div class="fields">
                        <div class="field ">
                            <a href="/addQues">
                                <img src="images/add-q.svg" class="img-responsive" style="width:50px;height:50px;">
                                <strong>
                                    <h3>Add Questions
                                </strong>
                                </h3>
                                <p>
                                    Feel the previous few questions were too easy?
                                </p>
                            </a>
                        </div>
                        <div class="field">
                            <a href="/viewSub">
                                <img src="images/view.svg" class="img-responsive" style="width:50px;height:50px;">
                                <strong>
                                    <h3>View Submissions
                                </strong>
                                </h3>
                                <p>
                                    Let's find out if they have what it takes!
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/adminlogout">
                <button class="primary">Logout
                </button>
            </a>

        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    </header>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

</body>

</html>