<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Question Not Yet Added</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" /></noscript>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Particle.js-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!-- reCaptcha -->
    {{!-- <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script> --}}

</head>

<body>

    <div id="preloader"></div>

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div class="content">
                <div class="inner">
                    <h3>{{noques}}</h3>
                    {{!-- <div class="fields">
                        {{#if ques}}
                        {{#each ques}}
                        <strong>
                            <b>
                                <h3 class="ques" style="text-align: left;">{{this}}</h3>
                            </b>
                        </strong>
                        <form>
                            <div class="form-group">
                                <label for="answer" style="text-align: left;">Your Answer:</label>
                                <textarea class="form-control sub no-copy-paste" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                        {{/each}}
                        {{/if}}
                    </div> --}}
                </div>
            </div>

            <a href='/exam'>
                <button class="primary">
                    Go Back
                </button>
            </a>
            <a href="/logout">
                <button class="primary">Logout
                </button>
            </a>

        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

</body>

</html>